<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="static/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Welcome | HighwayPatrol</title>
    <link rel="icon" href="assets/Favicon.ico">
</head>

<body onload="document.body.style.opacity='1'" style="background-color: #FCA311;">
    <div class="header">
        <a href="/templates/index.html" class="home-button" style="color: #000000;">
            HP
        </a>
    </div>
    <div style="text-align:center;margin-top:4rem;">
        <div class="welcome-text">
            Welcome Back,
        </div>
    </div>
    <div style="text-align:center;">
        <div class="welcome-text">
            {NAME}!
        </div>
    </div>

    <div class="bottom-half" style="border-top: solid 2px #000000;">
        <table style="width:100%;height:100%;margin-top:7rem;">
            <tr>
                <td>
                    <a class="street-button" style="border:solid 2px #000000;">Start a New Drive</a>
                </td>
                <td>
                    <a class="street-button" style="border:solid 2px #000000;">View Leaderboards</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>